:root{
    --section_background:#d6c09d;
    --section_border: #24a832;
    --background: #F5DFBB;
    --text_color: #341d10;
    --link_color: rgb(0, 68, 228);
    --section_hover: #078f14;
    --share_hover: #24a832;
    --link_hover: rgb(1, 55, 181);
    --slide_bar: #278f86;
    --slide_bar_hover: #99bc41;
    --shadow: rgba(0, 0, 0, 0.3)
}

:root:has(#toggleModeButton:checked){
    --section_background: #341d10;
    --section_border: #24a832;
    --background: #322117;
    --text_color: #F5DFBB;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--text_color);
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.header{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 38px;
    font-weight: bold;
    height: 110px;
    padding-left: 24px;
    background-color: var(--section_background);
    color: var(--text_color);
    border-bottom: 10px var(--section_border) solid;
    z-index: 999;
}

.header a{
    font-size: 38px;
    color: var(--text_color);
    text-decoration: none;
}

.toggleMode {
    position: relative;
    width: 60px;
    height: 34px;
    border: 3px var(--section_border) solid;
    border-radius: 34px;
    margin-right: 5%;
}

.toggleMode input {
    display: none;
}

.toggleMode .toggleMode-btn {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    border-radius: 34px;
    transition: .4s;
}

.toggleMode .toggleMode-btn:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--section_border);
    border-radius: 50%;
    transition: .4s;
}

input:checked + .toggleMode-btn {
    background-color: var(--background);
}

input:checked + .toggleMode-btn:before {
    transform: translateX(26px);
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.title h2{
    font-size: 36px;
    font-weight: bold;
    margin-top: 150px;
}

.subTitle{
    font-size: 26px;
    margin-bottom: 25px;
}

.textBlock{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin: 20px 20% 40px 18%;
    width: 65%;
}

.textBlock p{
    margin: 8px 0;
    text-indent: 30px;
}

.textBlock img{
    height: 25%;
    width: 35%;
    border-radius: 20px;
}

.listUlBenefits {
    list-style-type: disc;
}

.footer{
    border-top: 10px var(--section_border) solid;
    background-color: var(--section_background);
    padding: 5px 70px 5px 70px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.contentShare{
    display: flex;
    flex-direction: column;
}

.contentShare h4{
    margin-left: 3%;
}

.contentShare ul{
    display: flex;
    justify-content: center;
    padding-left: 14px;
}

.contentShare ul li {
    list-style-type: none;
    padding-right: 14px;
    height: 40px;
    width: 40px;
}

.contentShareLabel{
    --shareBackgroundColor: var(--section_border);
    height: 40px;
    width: 40px;
    border-radius: 30px;
    border: 2px solid var(--shareBackgroundColor);
    position: relative;
    background-color: var(--shareBackgroundColor);
}

.contentShareLabel:hover{
    --shareBackgroundColor: var(--share_hover);
    transition: 0.3s;
}

.contentShareImage{
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;
}

.contentIndex li{
    list-style-type: none;
    margin-bottom: 7px;
}