body{
    margin: 0;
    padding: 0;
    background-color: rgb(18, 20, 19);
    color: #fcfcfc;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    font-size: 38px;
    font-weight: bold;
    height: 140px;
    padding-left: 24px;
    background-color: rgb(8, 9, 8);
    color: #fcfcfc;
    border-bottom: 10px #205b26 solid;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title h1{
    font-size: 44px;
    font-weight: bold;
    margin-top: 60px;
}

.title h2{
    font-size: 36px;
    font-weight: bold;
    margin-top: 0;
}

.section{
    display: flex;
    flex-direction: column;
    margin: 20px 40px 20px 40px;
}

.subTitle{
    font-size: 26px;
    margin-bottom: 0px;
}

.footer{
    border-top: 10px #205b26 solid;
    background-color: rgb(8, 9, 8);
    padding: 5px 70px 5px 70px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.dados{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: bold;
    color: #fcfcfc;
    align-items: center;
}

.dados li{
    padding-bottom: 2%;
    list-style: none;
    font-weight: bold;
    font-size: 20px;
}

.dados li a{
    text-decoration: none;
    color: rgb(0, 68, 228);
}

.dados li a:hover{
    color: rgb(1, 55, 181);
    transition: 0.1s;
}

.dados h3{
    font-size: 28px;
}
